.search-bar-container {
    top: 100%;
    margin: 0 auto;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.search-bar {
    display: flex;
    gap: 0.5rem;
    width: 100%;
}

.search-bar input {
    padding: 0.5rem;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}