.icon_bookcard {
    width: 24px !important;  /* Override any conflicting styles */
    height: 24px !important; /* Ensure the size remains */
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
    object-fit: contain;
}


.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.book-card {
    opacity: 1;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
    width: 150px;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
    animation: fadeInAnimation ease 1s;
    animation-fill-mode: forwards;
}

.book-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.row {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

ul.horizontal-list {
    width: 70%;
    margin: 0 auto;
    margin-top: 15%;
    list-style-type: none;
    gap: 1.5rem;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}