.icon:hover {
    opacity: 1;
    cursor: pointer;
}

/* Specific spinning effect for the 'spin' class */
.spin:hover {
    transform: translateY(-2px) rotate(70deg); /* Full rotation on hover */
}

/* Jumping effect for the 'User' icon */
.jump:hover {
    transform: translateY(-2px); /* Move up by 10px */
}

.icon {
    width: 32px;
    height: 32px;
    opacity: 0.5;
    display: inline-block;
    vertical-align: middle;
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transformations */
    padding: 5px;

    filter: grayscale(1) brightness(0) invert(1); /* Turns the image into a solid white */
}

/* Buttons Container */
#useful_buttons {
    display: flex; /* Use flexbox for the buttons */
    align-items: center; /* Center the buttons vertically */
    gap: 0.5rem; /* Add spacing between the buttons */
}

header {
    z-index: 1;
    background-color: #423e37;
    color: #FFF;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
    margin-bottom: 0; /* Ensure no bottom margin */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}